.container {
    position: absolute;
    top: 60%;
    right: 0;
    display: flex;
    flex-direction: column;
}
  
.container > * {
    margin-bottom: 10px;
}

#container {
    padding: 5px;
    width: 300px;
    aspect-ratio: 1;
    border: solid black 2px;
    overflow: scroll;
    overflow-anchor: none;
  }
div.featured-stories{
    background-color:aqua;
    height: 40px;
    width: 200px;
    overflow-y: scroll;
    top: 50%;
}
div.featured-stories{
    width: 300px;
    height: 300px;
    border: 1px solid blue;
}
.scroll-content{
    height: 100%;
    padding: 10px;
  }
  
div.Mentoon-stories{
    background-color:aqua;
    height: 40px;
    width: 200px;
    overflow-y: scroll;
}
div.Mentoon-stories{
    width: 300px;
    height: 200px;
    border: 1px solid blue;
}
div.Mentoon-TV{
    background-color: aqua;
    height: 40px;
    width: 200px;
    overflow-y: scroll;
}
div.Mentoon-TV{
    width: 300px;
    height: 200px;
    border: 1px solid blue;
}
   
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
iframe {
    margin-top: 100px;
    width: 300px;

}
/*
nav{
    background: #0086e6;
    height: 80px;
    width: 100%;
}
label.logo{
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius:3px;
    text-transform:uppercase;
}
a.active,a:hover{
    background: black;
    transition: .5s;
}*/

body{
    background-color:white;
}

.featured-stories {
    float: right;
}
.Mentoon-stories{
    float: right;
}
.Mentoon-TV{
    float: right;
}

marquee {
    font-family: cursive;
    font-size: 48px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  

  
