header{
  background-size: cover;
			background-position: center;
			height: 400px;
      margin-top: -200px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
background-color: rosybrown;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

body{
    background-color:white;
}
h3{
    text-align: center;
    text-transform: capitalize;
    background-color: crimson;
    top: 20%;
    
}


.text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: silver;
  }
.text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
.text button:hover {
    background-color: #555;
    color: white;
 }