h2 {
    display: inline-block;
    padding:20px;
    background-color: green;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    width: 500px; /* or any other value that suits your needs */
  }
  .container {
    border: 3px solid black;
    padding: 10px;
    width: 200px; /* or any other value that suits your needs */
    float: right;
    margin-right: 50px;
    position: relative;
    top: 0;
   
  }

