/*.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }

body{
    background-color: gold;
}*/
.logo {
  width: 100%;
  height:100px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 5s ease-in-out infinite;
}

.video-container img:nth-child(1) {
  animation-delay: 0s;
}

.video-container img:nth-child(2) {
  animation-delay: 2.5s;
}

.video-container img:nth-child(3) {
  animation-delay: 5s;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-image: url('play-icon.png');
  background-size: cover;
  animation: move 2s linear infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -50%) translateY(20px);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

